._*
.DS_Store
.vagrant

# Symfony
/web/bundles/
/web/css/
/web/js/
/web/docs/*
/web/fonts/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
/build/
/vendor/
/bin/*
!bin/console
!bin/symfony_requirements
/composer.phar
/var/bootstrap.php.cache
/var/SymfonyRequirements.php
/var/cache/*
/var/logs/*
!var/cache/.gitkeep
!var/logs/.gitkeep

# Yeoman
node_modules
.tmp
.sass-cache
